<p id="notice"><%= notice %></p>

<h2>Listing Quotes</h2>
<h4>Authors and Quotes possibly with some Background information...</h4>
<div class="panel panel-group">

     <% @qoutes.each do |qoute| %>
        <div class="panel panel-default">
          <div class="panel-heading"><h6><%= qoute.author %></h6></div>
          <div class="panel-body"><h4><%= qoute.qoute %></h4></div>
          <div class="panel-footer"><h6><%= qoute.background %></h6></div>
            <a><%= link_to 'Show', qoute , class: "btn btn-primary" %></a>
            <a><%= link_to 'Edit', edit_qoute_path(qoute) , class: "btn btn-info" %></a>
            <a><%= link_to 'Destroy', qoute, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %></a>
        </div>
    <% end %>
</div>

<br/>

<%= link_to 'New Qoute', new_qoute_path, class: "btn btn-info"   %>